
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pacifico&display=swap');


img {
  height: 100vh;
  min-height: 500px;
  width: 100%;
  margin-bottom: 10%;

 
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Pacifico', cursive;
  font-size: 200px;
 
  color: rgb(0, 0, 0);
 
  margin: auto;
 
 



}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  
}
body {
  background-color: white;
}
footer {
  margin-top: 10%;
}